body {
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: "Lucida Console", Monaco, monospace;
}
.item{
  position: absolute;
  width: 400px;
}
.Impagelinks{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.5em;
}
.Impagelinks *{
  margin: 5px;
}
