body {
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: "Lucida Console", Monaco, monospace;
}
.item{
  position: absolute;
  width: 400px;
}
.Impagelinks{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.5em;
}
.Impagelinks *{
  margin: 5px;
}

#nigel {
  display: none;
}
form p{
  background: blue;
  color: white;
  padding: 5px;
  width: 120px;
}
#changeform {
  font-size: 3em;
  border: 0;
  cursor: pointer;
  color: #00f;
}
#superfiled {
  height: 150px;
}
input,
textarea {
  font-family: "Lucida Console", Monaco, monospace;
  border: 2px solid #000;
  background: #fff;
  outline: none;
  -webkit-transition: 900ms ease all;
  transition: 900ms ease all;
}
input:focus,
textarea:focus {
  background: #000;
  color: #fff;
}
